*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"poppins" , sans-serif;
}

/* warna */
:root{
    --primary-color: #020024;
    --primary-color-two: #090979;
    --secondary-color: #00D4FF;
    --text-color: #ffffff;
    --text-color-two: #01010D;
    --text-color-opacity: #ffffff8a;
    --bc-color: #010305;
    --text-icon: #0BE30B;
    --text-icon-two: #0645CC;
    --text-icon-three: #EB0C40;
    --bc-color-2: #e4edef;
}
/* warna */

/* Navbar */
.container{
    width: 80%;
    margin-inline: auto;
}

.navbar{
    width: 100%;
    padding: 15px 0 15px 0;
    position: fixed;
    z-index: 1000;
    transition: all .3s ease;
    background-color: var(--bc-color);
}

.navbar .navbar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-box .logo img{
    width: 55px;
    height: 50px;
}

.navbar .navbar-box .menu{
    display: flex;
    column-gap: 40px;
}

.navbar .navbar-box .menu li{
    list-style: none;
}

.navbar .navbar-box .menu li a{
    text-decoration: none;
    color: var(--text-color-opacity);
    font-size: 16px;
    font-weight: 600;
}

.navbar.nav-scroll-active{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur (20px);
    padding: 15px 0 15px 0;
}

.navbar .navbar-box .hamburger{
    display: none;
    background-color: var(--secondary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar .navbar-box .hamburger .hamburger-box{
    width: 30px;
}

.navbar .navbar-box .hamburger .hamburger-box .hamburger-inner,
.navbar .navbar-box .hamburger .hamburger-box .hamburger-inner::after,
.navbar .navbar-box .hamburger .hamburger-box .hamburger-inner::before {
    width: 30px;
}

.navbar .navbar-box .menu li a:hover{
    color: var(--text-color);
}

.navbar.navbar.nav-scroll-active .navbar-box .logo h1{
    color: var(--text-color);
}

.navbar.navbar.nav-scroll-active .navbar-box .menu li a{
    color: var(--text-color);
}
.navbar.navbar.nav-scroll-active .navbar-box .menu li a:hover{
    color: var(--secondary-color);
}
/* Navbar */

/* Header */
.header {
    width: 100%;
    min-height: 50vh;
    background-image: url(../../assets/image/Background/CS.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 190px;
    overflow: hidden; 
}

.header .header-box{
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
}
/* Header */

/* back */
.back{
    padding: 20px;
    background-color: var(--bc-color-3);
}
.back .back-box{
    padding-top: 10px;
}

.back .back-box p{
    font-size: 15px;
}

.back .back-box li{
    list-style: none;
}

.back .back-box li a{
    text-decoration: none;
    float: left;
    font-size: 15px;
    color: var(--bc-color);
    font-weight: 600;
}

.back .back-box li a:hover{
    color: var(--secondary-color);
}

.back .back-box p{
    font-size: 15px;
    padding-left: 70px;
}
/* back */

/* servis */
.servis{
    padding-top: 100px;
    padding-bottom: 100px;
}
.servis .servis-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    column-gap: 3vh;
    row-gap: 3vh;
    padding-left: 50px;
    padding-right: 50px;
}

.servis .servis-box .box{
    background-color: var(--bc-color-2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.servis .servis-box .box i{
    font-size: 40px;
    color: var(--primary-color);
    padding-bottom: 20px;
}

.servis .servis-box .box h2{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.servis .servis-box .box p{
    font-size: 19px;
}
/* servis */

/* copyright */
.copy .copy-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    background-color: var(--bc-color);
    color: var(--text-color-opacity);
    padding: 10px;
}

.copy .copy-box .box p{
    font-size: 13px;
}

.copy .copy-box .box-1 p{
    font-size: 13px;
    font-weight: 100;
    text-align: right;
}
.copy .copy-box .box-1 img{
    width: 35px;
    height: 20px;
    float: right;
}
/* copyright */




/* media semua */
@media (max-width: 992px) {
    .navbar .navbar-box .hamburger{
        display: block;
        position: fixed;
        bottom: 40px;
        right: -100px;
        transition: all .3s ease;
    }

    .navbar .navbar-box .hamburger.btn-active{
        right: 40px;
    }

    .navbar .navbar-box .menu {
        position: fixed;
        right: 40px;
        bottom: 140px;
        flex-direction: column;
        text-align: right;
        row-gap: 22px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: all .3s ease;
        opacity: 0;
    }

    .navbar .navbar-box .menu.menu-active{
        transform: scaleY(1);
        opacity: 1;
    }

    .navbar .navbar-box .menu.menu-active li a{
        background-color: var(--primary-color-two);
        padding: 5px 10px 5px 10px;
        border-radius: 18px;
    }

/* -------------------------------------------------- */
    .header{
        padding-top: 170px;
        min-height: 30vh;
    }
    .header .header-box{
        font-size: 25px;
    }
    .header .header-box h1{
        padding-bottom: 50px;
    }

/*---- ---------------------------------------------- */

    .servis .servis-box .box h2{
        font-size: 26px;
    }
    .servis .servis-box .box p{
        font-size: 17px;
    }
}

@media (max-width: 795px){
    .servis .servis-box .box i{
        font-size: 35px;
    }
    .servis .servis-box .box h2{
        font-size: 24px;
    }
    .servis .servis-box .box p{
        font-size: 15px;
    }
}

@media (max-width: 645px){
    .header{
        padding-top: 120px;
    }
    .header .header-box{
        font-size: 18px;
    }
    
/* ---------------------------------------------------- */
    .back .back-box li a{
        font-size: 12px;
    }
    .back .back-box p{
        font-size: 12px;
    }

/*---- ---------------------------------------------- */
    .servis .servis-box .box i{
        font-size: 30px;
        padding-bottom: 15px;
    }
}

@media (max-width: 515px){
    .servis .servis-box .box h2{
        font-size: 20px;
    }
    .servis .servis-box .box p{
        font-size: 13px;
    }
}

@media (max-width: 391px){
    .header{
        padding-top: 120px;
    }
    .header .header-box{
        font-size: 10px;
    }

/*---- ---------------------------------------------- */
    .servis {
        padding-top: 60px;
    }
    .servis .servis-box {
        padding-left: 25px;
        padding-right: 25px;
    }
    .servis .servis-box .box h2{
        font-size: 18px;
    }
    .servis .servis-box .box i{
        font-size: 26px;
    }
}

@media (max-width: 361px){
    .header{
        padding-top: 140px;
    }
    .header .header-box{
        font-size: 10px;
    }

/* ----------------------------------------------------- */
    .back .back-box li a{
        font-size: 10px;
    }
    .back .back-box p{
        font-size: 10px;
        padding-left: 50px;
    }
}

/* media semua */

/* media copyright */
@media (max-width : 693px){
    .copy .copy-box{
        grid-template-columns: 1fr;
    }
    .copy .copy-box .box p{
        text-align: center;
        font-size: 10px;
    }
    .copy .copy-box .box-1{
        width: 55%;
    }
    .copy .copy-box .box-1 p{
        text-align: right;
        font-size: 10px;
    }
    .copy .copy-box .box-1 img{
        width: 25px;
        height: 15px;
    }
}

@media (max-width: 620px){
    .copy .copy-box .box-1{
        width: 55%;
    }
}

@media (max-width: 450px){
    .copy .copy-box .box-1{
    width: 60%;
    }
}
/* media copyright */